###########################################
##
## K-Fêt Caddyfile
##
##  - K-App API (api.kfet-insa.fr)
##  - K-App Staging API (master.api.kfet-insa.fr)
##  - Webhooks (webhooks.kfet-insa.fr)
##
###########################################

##
# Snippets
##

(cloudflare) {
  tls {
		dns cloudflare
	}
}

(kapp) {
	# Compress responses
    gzip

    log stdout

	# Remove Server header
    header / -Server
}

##
#  K-App Production API
##
api.kfet-insa.fr {
    import cloudflare
    import kapp

    cors / {
        origin https://app.kfet-insa.fr
        allowed_headers Content-Type
    }

    # Proxy request
    proxy / localhost:3000 {
        transparent # Set headers as the proxy except
    }
}

##
#  K-App Staging API
##
master.api.kfet-insa.fr {
    import cloudflare
    import kapp

    cors / {
        origin https://master.app.kfet-insa.fr
        origin_regexp .+zen-swirles-809b7e\.netlify\.com$
        allowed_headers Content-Type
    }

    # Proxy request
    proxy / localhost:3050 {
        transparent # Set headers as the proxy except
    }
}

##
#  Webhooks
##
webhooks.kfet-insa.fr {
    import cloudflare
    log stdout
    proxy / localhost:8100 {
        transparent # Set headers as the proxy except
    }
}
